.calendar {
  background-image: url("https://images.unsplash.com/photo-1686509385123-eeabb042d2ef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 5px;
  border: 24px solid #f58822c4;
}

.calendar h2 {
  color: gold;
  font-size: 24px;
  margin-bottom: 10px;
}

.calendar .date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: yellow;
}

.calendar .event {
  margin-bottom: 5px;
}

.calendar .event .title {
  font-weight: bold;
}

.calendar .event .time {
  font-size: 14px;
  color: #888;
}
.calendar .date:hover {
  color: #000;
}