

.home {
    background-color: #da78e7;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1687449923456-0bcf08c02662?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
    background-size: cover;
    background-position: center;
    border: 24px solid #7a1855;
  }
  
  .home h2 {
    color: #240627;
    font-size: 100px;
    
  }
  
  .home p {
    color: #0e063f;
    font-size: 32px;
  }
  
  .home a {
    color: #04305f;
    text-decoration: none;
  }
  
  .home a:hover {
    text-decoration: underline;
  }
  